<main>
  <h1 id="signup-page">Log in</h1>

  <form action="/login" method="POST" class="form-container">

    <label for="identif">Email</label>
    <input type="text" name="email" class="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" class="password" required>

    <button class="account-btn" type="submit">Log in</button>

    <div class="error-message">{{errorMessage}}</div>
    <p class="account-message">
      Don't have an account?
      <a href="/signup">Sign up</a>
    </p>
  </form>
</main>