<h1 id="signup-page">Sign up</h1>

<form action="/signup" method="POST" class="form-container">
  <label for="email">E-mail</label>
  <input id="email" type="email" name="email" class="email" required>

  <label for="username">Username</label>
  <input id="username" type="text" name="username" class="username" required>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" class="password" required>

  <button class="account-btn" type="submit">Create account</button>


  <div class="error-message">{{errorMessage}}</div>
  <p class="account-message">
    Already have an account?
    <a href="/login">Log in</a>
  </p>
</form>