<main>
  <h1 class="title" id="title-search"></h1>
  <div class="recipes-container" id="wrap">
    {{!-- markup --}}

  </div>
  <nav class="pagination is-centered is-small" role="navigation" aria-label="pagination">
    <ul class="pagination-list" id="pagination">

    </ul>
  </nav>
</main>