<nav class="navbar  is-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" id="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../logo.png" id="logo" width="200" height="180">
    </a>
    <a role="button" class="navbar-burger burger" id="burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/home">
        Home
      </a>
      <a class="navbar-item" href="/user">
        My favorites
      </a>
    </div>
    {{#if isAuthenticated}}

    <div class="navbar-end">
      <div class="navbar-item">
        <form method="POST" action='/logout'>
          <div class="buttons" type="submit">
            <button class="button is-primary" id="logout-btn">Logout</button>
          </div>
        </form>
      </div>
    </div>
    {{else}}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/signup">
            Sign up
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
    {{/if}}
</nav>