<div class="columns is-centered is-mobile" id="search-bar">
  <div class="column is-three-quarters-mobile is-half-desktop is-three-quarters-tablet">
    <form id="form-search">
      <div class="group-items">
        <input type="text" name="searchInput" class="input is-primary is-medium"
          placeholder="Search some healthy recipes" id="input-search"></input>
        <button class="button is-medium is-primary" id="search-btn" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>