<div class="columns is-centered is-mobile" id="search-bar">
    <div class="column is-half">
        <form id="form-search">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" placeholder="Search some healthy recipes" id="input-search">
                </p>
            </div>
            <button class="btn" id="btn-search"><i class="fas fa-search fa-2x"></i>
        </form>
    </div>

    </button>
</div>