.header {
  box-shadow: 0 4px 6px -6px;
}

.navbar {
  height: 4rem;
}

#navbar-brand {
  height: 4rem;
}

a.navbar-item {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  max-height: 100%;
  max-width: 100%;
}

#connection-menu {
  background-color: rgb(190, 226, 60);
  border-radius: 1rem;
  margin: 1rem;
  color: white;
}

#connection-menu:hover {
  background-color: rgb(160, 190, 52);
  border-radius: 1rem;
  margin: 1rem;
}

#burger {
  height: 5rem;
}
