#form-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-bar {
  position: sticky;
  top: 4rem;
  background-color: whitesmoke;
  margin: 0;
  z-index: 1;
}
#search-bar .field {
  flex: 0 0 90%;
  margin-bottom: 0;
}
#input-search {
  font-family: "Poiret One", cursive;
  /* width: 40rem; */
  padding-left: 1rem;
  border-radius: 1rem;
}
#input-search:active {
  font-family: "Poiret One", cursive;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.columns {
  display: flex;
  flex-direction: row;
}

#btn-search {
  height: 2.3rem;
  /* margin-top: 0.7rem; */
  margin-left: 0;
  background-color: rgb(46, 104, 94);
  cursor: pointer;
  max-width: 44px;
  flex: 0 0 100%;
  border-radius: 1rem;
}

#btn-search:hover {
  /* .............;; */
}

.column.is-half {
  padding-right: 0;
}

.fas {
  color: white;
}

/* #input-search:focus {
  outline: none;
} */
