#search-bar {
  position: sticky;
  top: 5rem;
  background-color: whitesmoke;
  margin: 0;
}

#input-search {
  font-family: "Poiret One", cursive;
}
#input-search:active {
  font-family: "Poiret One", cursive;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

/* #input-search:focus {
  outline: none;
} */