<main>
    <h1 class="title" id="title-search"></h1>
    <div class="recipes-container" id="wrap">
        {{!-- markup --}}

    </div>
</main>
{{!-- <main>
    <h1 class="title">All recipes</h1>
    <div class="recipes-container">
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../1.png" alt=""> </a>
            <h1 class="type-dish">Main Dish</h1>

            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../2.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../3.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../4.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../5.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../6.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../7.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../8.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
        <div class="recipe">
            <a href="./recipe-details">
                <img class="image-grid" src="../9.png" alt=""></a>
            <h1 class="type-dish">Main Dish</h1>
            <button class="recipe__love">
                <svg class="header__likes">
                    <use href="../icons.svg#icon-heart-outlined"></use>
                </svg>
            </button>
            <div class="recipe-details">
                <a href="./recipe-details">
                    <div class="recipe-name">Salade émincés de gésiers et de poulets aux pommes blablabla blablabla
                    </div>
                </a>
                <div class="duration-column">
                    <svg class="clock-icon">
                        <use href="../icons.svg#icon-stopwatch">
                        </use>
                    </svg>
                    <div class="duration">1h00</div>
                </div>
            </div>
        </div>
    </div>
</main> --}}