<main>
  <h1 class="title">All recipes</h1>
  <div class="recipes-container">
    <div class="recipe">
      <img src="../1.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../2.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../3.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../4.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../5.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../6.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../7.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
    <div class="recipe">
      <img src="../8.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
    </div>
    <div class="recipe"><img src="../9.png" alt="">
      <h1 class = "type-dish">Main Dish</h1>
      <button class="recipe__love">
                    <svg class="header__likes">
                        <use href="../icons.svg#icon-heart-outlined"></use>
                    </svg>
        </button>
    </div>
  </div>
</main>