<main>
  <h1 class="title">All recipes</h1>
  <div class="recipes-container">
    <div class="recipe">
      <img src="../1.png" alt="">
      <p>Recipe 1</p>
    </div>
    <div class="recipe">
      <img src="../2.png" alt="">
      <p>Recipe 2</p>
    </div>
    <div class="recipe">
      <img src="../3.png" alt="">
      <p>Recipe 3</p>
    </div>
    <div class="recipe">
      <img src="../4.png" alt="">
      <p>Recipe 4</p>
    </div>
    <div class="recipe">
      <img src="../5.png" alt="">
      <p>Recipe 5</p>
    </div>
    <div class="recipe">
      <img src="../6.png" alt="">
      <p>Recipe 6</p>
    </div>
    <div class="recipe">
      <img src="../7.png" alt="">
      <p>Recipe 7</p>
    </div>
    <div class="recipe">
      <img src="../8.png" alt="">
      <p>Recipe 8</p>
    </div>
    <div class="recipe"><img src="../9.png" alt="">
      <p>Recipe 9</p>
    </div>
  </div>
</main>