<h1 id="signup-page">Log in</h1>

<form action="/login" method="POST" class="form-container">

  <label for="identif">Username</label>
  <input type="text" name="username" class="username" required>

  <label for="password">Password</label>
  <input type="password" name="password" class="password" required>

  <input class="account-btn" type="submit" value="Log in">

</form>

{{!-- <div class="modal" id="login-form">
  <div class="modal-background" id="login-background"></div>
  <div class="modal-content">
    <form action="/login" method="POST"></form>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Username or Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Login
        </button>
      </p>
    </div>
    </form>
  </div>
  <button class="modal-close is-large" id="login-close" aria-label="close"></button>
</div> --}}