<div class="columns is-centered is-mobile" id="search-bar">
    <div class="column is-two-thirds">
        <form class="search">
            <div class=" field">
                <p class="control has-icons-left">
                    <input class="input" type="search" placeholder="Search recipes" id="input-search">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </p>
            </div>
        </form>
    </div>
</div>