{{!-- <div class="columns is-centered is-mobile" id="search-bar">
    <div class="column is-two-thirds">
        <form class="search">
            <div class="field has-addons has-addons-centered">
                <p class="control">
                    <input class="input" id="input-search" type="search" placeholder="Search some healthy recipes">
                </p>
                <p class="control">
                    <a class="button is-primary">
                        <i class="fas fa-search"></i> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    </a>
                </p>
            </div>
        </form>
    </div>
</div> --}}

<div class="columns is-centered is-mobile" id="search-bar">
    <div class="column is-half">
        <form id="form-search">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" placeholder="Search some healthy recipes"
                        {{!-- onfocus="this.placeholder=''" onblur=" this.placeholder='Search some healthy recipes'" --}}
                        id="input-search">
                    {{!-- <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span> --}}
                </p>
            </div>
        </form>
    </div>
    <button class="btn" id="btn-search"><i class="fas fa-search fa-2x"></i>

    </button>
</div>