{{>search_bar}}
<div id="random-img-container" >
<div class="random-img-container-not-hidden">
  <img src="3.jpg" alt="" id="random-image" class="img-not-hidden">
</div>
</div>
{{>grid}}
{{>recipe_details}}

