{{>search_bar}}
<div id="random-img-container" >
<div class="random-img-container-not-hidden">
  <img src="https://res.cloudinary.com/dcmvim0u6/image/upload/v1558553854/3_h1qpwl.jpg" alt="" id="random-image" class="img-not-hidden">
</div>
</div>
{{>grid}}
{{>recipe_details}}

