{{!-- <main>
    <h1 class="title" id="title-search"></h1>
    <div class="recipes-container" id="wrap">
      <div class="recipe">
           <img class="image-grid" idRecipe=${id} src=${image} alt="">
           <h1 class="type-dish">${type}</h1>
           <button class="recipe__love" idrecipebtn=${id}>
           <i class="far fa-heart fa-2x"></i>
           </button>
           <div class="recipe-details">
               <div class="recipe-name">${title}
               </div>
               <div class="duration-column">
                   <i class="far fa-clock"></i>
                   <div class="duration">${duration}</div>
               </div>
           </div>
       </div>
    </div>
</main> --}}