<main>
    <h1 class="title" id="title-search">My favorites</h1>
    <div class="recipes-container" id="wrap">
       
    </div>
  <nav class="pagination is-centered is-small"  role="navigation" aria-label="pagination">
  <ul class="pagination-list" id="pagination">
    
  </ul>
</nav>

</main>
  <div class="modal">
  <div class="modal-background" id="login-background"></div>
  <div class="modal-content" id="modal-recipe">

    {{!-- insert your details recipe --}}

  </div>
  <button class="modal-close is-large" id="login-close" aria-label="close"></button>
</div>
