
<div class="columns is-centered is-mobile" id ="user-header">
  <div class="column is-two-thirds has-background-primary">
    <div class="columns is-gapless">
      <div class="column is-one-fifth">
        <figure class="image is-128x128">
          <img class="is-rounded" src="../test.gif">
      </figure>
      </div>
      <div class="column is-one-fifth">
        <h1 class="has-text-danger has-text-left">nguyentduc92</h1>
        <a class="button is-danger is-rounded">Edit my profile</a>
      </div>
    </div>
  </div>
</div>
{{>grid}}