{{!-- <div class="columns is-gapless">
  <div class="column is-one-fifth">
    <figure class="image is-128x128">
  <img class="is-rounded" src="../test.gif" width = "160" height= "160">
  </figure>
  </div>
  <div class="column">
   <h1 class ="has-text-danger">ducky92</h1>
   <a class="button is-danger">Edit my profile</a>
  </div>
</div>
</se> --}}

<p>
  A
</p>
<p>
  a
</p>
<p>
  A
</p>
<p>
  a
</p>
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds has-background-primary">
    <div class="columns is-gapless">
      <div class="column is-one-fifth">
        <figure class="image is-128x128">
          <img class="is-rounded" src="../test.gif" width="160" height="160">
        </figure>
      </div>
      <div class="column">
        <h1 class="has-text-danger">ducky92</h1>
        <a class="button is-danger">Edit my profile</a>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="columns is-mobile is-centered">
  <div class="column is-half has-background-primary">
    <p class="bd-notification is-primary has-text-centered">
      HALF
    </p>
  </div>
</div> --}}